body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.button {
    width: 86%;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: white;
    background-color: #5c67f2;
    border: solid 1px #5c67f2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5058e2;
}

.button:hover {
    background-color: #5058e2;
}
